<% include partials/header %>

<h1>Chercher un autre film</h1>

<form action="/results" method="get">
	<input type="text" name="search" placeholder="rechercher">
	<input type="submit">
</form>

	<title>Page des résultats</title>
</head>
<body>
	<h1>Page des résultats</h1>
	<table border = "2">
	  <tr>
	    <th>Année</th>
	    <th>Nom</th>
	    <th>Affiche</th>
	    <th>OMDB Link</th>
	  </tr>
	  <% data['Search'].forEach(function(movie){ %>
	  <tr>
	    <% var imdb_url = 'https://www.imdb.com/title/' + movie['imdbID'] %>
	    <td><%= movie['Year'] %></td>
	    <td><%= movie['Title'] %></td>
	    <td><img src="<%= movie['Poster'] %>" alt=""></td>
	    <td><a href="<%= imdb_url %>">View on OMDB</a></td>
	  </tr>
	  <% }) %>
	</table>
	<br/>
 	<a href="/">Cherchez encore!</a>
</body>
</html>
