<% include partials/header %>

</head>
<body>
	<h1>Chercher un film</h1>

	<form action="/results" method="get">
	    <input type="text" name="search" placeholder="rechercher">
	    <input type="submit">
	</form>
</body>
</html>